h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 55px;
     color: lightblue;
     
}
body {
    background-image: url(https://img.freepik.com/premium-photo/abstract-luxury-gradient-blue_1258-15481.jpg?w=360);
    background-repeat: no-repeat;
    background-size: 100%;
}
h2 {
    color: lightskyblue;
    font-size: 40px;
    padding-top: 50px;
    padding-left: 30px;
}
.opiskelu {
    color: lightblue;
    padding-left: 30px;
    font-size: 20px;
}
a {
    color: lightskyblue;
}
h3 {
    font-size: 35px;
    color: aqua;
    padding-left: 30px;
    
}
.hauskaa {
    font-size: 25px;
    color: aqua;
}
img {
    size: 5cm;
}
.kuva {
    block-size: 400px;
    padding-top: 75px;
    
}
.työ {
    padding-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: lightsteelblue;
}
